[Desktop Entry]
Version=1.0
Type=Application
Icon=sameboy
Exec=sameboy
Name=SameBoy
Comment=Game Boy and Game Boy Color emulator
Keywords=game;boy;gameboy;color;emulator
Terminal=false
StartupNotify=false
Categories=Application;Game;
MimeType=application/x-gameboy-rom;application/x-gameboy-color-rom