<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>SameBoy</string>
	<key>CFBundleIdentifier</key>
	<string>com.github.liji32.sameboy.ios</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>SameBoy</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>@VERSION</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2015-@COPYRIGHT_YEAR Lior Halphon</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon60x60@2x.png</string>
				<string>AppIcon60x60@3x.png</string>
				<string>AppIcon76x76@2x.png</string>
				<string>AppIcon83.5x83.5@2x.png</string>
			</array>
		</dict>
	</dict>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.games</string>
	<key>LSSupportsOpeningDocumentsInPlace</key>
	<true/>
	<key>UIFileSharingEnabled</key>
	<true/>
	<key>UISupportsDocumentBrowser</key>
	<true/>
	<key>NSCameraUsageDescription</key>
	<string>SameBoy needs to access your device&apos;s camera to emulate the Game Boy Camera</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>Cartridge.png</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Game Boy Game</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.github.liji32.sameboy.gb</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ColorCartridge.png</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gbc</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Game Boy Color Game</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.github.liji32.sameboy.gbc</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
		<dict>
			<key>CFBundleTypeIconFiles</key>
			<array>
				<string>ColorCartridge.png</string>
			</array>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>isx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Game Boy ISX File</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.github.liji32.sameboy.isx</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Owner</string>
		</dict>
        <dict>
            <key>CFBundleTypeName</key>
            <string>zip</string>
            <key>LSItemContentTypes</key>
            <array>
                <string>com.pkware.zip-archive</string>
            </array>
        </dict>
	</array>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy Game</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.gb</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy Color Game</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.gbc</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gbc</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Game Boy ISX File</string>
			<key>UTTypeIdentifier</key>
			<string>com.github.liji32.sameboy.isx</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>isx</string>
				</array>
			</dict>
		</dict>
	</array>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>CFBundleSupportedPlatforms</key>
	<array>
		<string>iPhoneOS</string>
	</array>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>arm64</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<true/>
	<key>GCSupportedGameControllers</key>
	<array>
		<dict>
			<key>ProfileName</key>
			<string>ExtendedGamepad</string>
		</dict>
	</array>
	<key>GCSupportsControllerUserInteraction</key>
	<true/>
</dict>
</plist>
